---
interface Props {
  id?: string;
  class?: string;
}

const { id, class: className } = Astro.props;
---

<section id={id} class:list={["py-20", className]}>
  <div class="section-container">
    <slot />
  </div>
</section>
